@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    color: #fff;
    padding-top: 0.3%;
    box-sizing: border-box;
    overflow: hidden;
    gap: 1.5rem;
    font-family: DM Sans;
    font-size: 15px;
}

.headerHero {
    background: rgba(0, 184, 217, 1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    width: 85%;
}

nav{
    display: flex;
}

ul{
    display: flex;
}

ul :hover{
    background: #005490;
    color: #fff;
    border-radius: 4px;
}


.login {
    background:#005490;
    color: #fff;
    border: none;
    width: 80px;
    height: 30px;
    top: 30px;
    left: 800px;
    border-radius: 4px;
    cursor: pointer;
}

select{
    background: none;
    border: hidden;
    color: #fff;
}

.hero{
    display: flex;
    justify-content: center;
}

.textSide {
    margin-left: 5rem;
    margin-top: 5rem;
    width: 45%;
}

.hero .textSide h2 {
    color: #fff;
    font-size: 3rem;
    letter-spacing: 7px;
}

.demo {
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 1rem;
}

.demo button {
    background-color: #fff;
    color:rgba(0, 184, 217, 1);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
}

.imageSide img {
    width: 105%;
    height: 950px;
    left: 775px;
    
}
